.main-div {
  display: grid;
  grid-template-areas:
    "main-carousel main-carousel"
    "try-carousel try-carousel"
    "star-carousel star-carousel"
    "most-try-prob recommend-prob";
}

.main-carousel {
  grid-area: main-carousel;
  align-items: "center" !important;
  justify-content: "center" !important;
}

.try-carousel {
  grid-area: try-carousel;
  padding-top: 30px;
}

.star-carousel {
  grid-area: star-carousel;
  padding-top: 30px;
}

.most-try-prob {
  padding: 20px;
  grid-area: most-try-prob;
}

.recommend-prob {
  padding: 20px;
  grid-area: recommend-prob;
}

/* main carousel */
.main-carousel-div {
  padding-bottom: 60px;
  border-bottom: 1px solid #e4e4e4;
}

.main-carousel-link {
  position: absolute;
  transform: translate(40%, 1200%);
}

.year-label {
  position: absolute;
  transform: translate(100%, 230%);

  font-size: 30px;
  text-align: center;

  color: black;
  font-family: NotoSans-Regular;
}

.title-label {
  position: absolute;
  transform: translate(30%, 180%);

  font-size: 50px;
  text-align: center;

  color: black;
  font-family: NotoSans-Bold;
}

.content-label {
  position: absolute;
  transform: translate(20%, 800%);

  font-size: 20px;
  text-align: center;

  color: #434343;
  font-family: NotoSans-Thin;
}

/* AccountID 생성 모달창 */
.Mui-focused,
.MuiInputLabel-root,
.MuiInput-input,
.accountId-submit-button {
  color: rgb(0, 150, 136) !important;
  font-weight: bold !important;
}
.MuiInput-underline:after {
  border-bottom-color: gray !important;
}
.dialog-main-content {
  display: flex;
}
#id-check-button {
  font-size: 14px;
  background-color: #315c72 !important;
}
