.sorting-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.1fr 5fr 0.1fr;
}

.count-span {
  min-width: 120;
  float: left;
}

.pagination-div {
  display: flex;
  justify-content: center;
}

/* WorkbookSidebar */
.nested-navbar {
  height: 55px;
  display: flex;
  justify-content: space-between;
}

.nested-navbar .navbar-item {
  background-color: white;
  padding: 5px 15px;
  border-radius: 5px;
  line-height: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.items {
  /* background-color: rgb(146, 146, 221); */
  min-width: 100px;
}

.items .item {
  cursor: pointer;
  margin: 2px 0;
  /* font-size: 20px; */
  color: black;
  padding: 2px 10px;
  width: 100%;
  box-sizing: border-box;
}

.items .item:hover {
  background-color: #ebebeb;
}

.items .item span {
  float: right;
}

/* SearchBar */
.searchbar-div {
  margin: 20px;
  padding: 20px;
}
