.profile-paper {
  margin: 40px;
  padding: 40px;
}

.profile-img-grid {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.profile-icon {
  font-size: 36px;
  color: #009688;
  margin: auto;
}

.profile-div {
  margin: 15px auto;
  width: 100px;
  height: 100px;
  border-radius: 30%;
  overflow: hidden;
  border: 3px solid #009688;
  box-shadow: 0px 10px 10px #808080;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info-text {
  font-size: 15px !important;
  font-family: 'NotoSans' !important;
  margin-bottom: 18px;
}

.subscription_button {
  margin-top: 16px !important;
  background-color: #009688 !important;
}

.subscription_button:hover {
  background-color: #009688 !important;
  opacity: 0.7;
}

.horizontal-divider {
  background: #315c72;
  height: 5px;
  margin: 20px;
  border: none;
}

.profile-try-problem-div {
  padding: 20px;
}

.profile-try-text {
  font-family: 'NotoSans-Bold';
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
