.detail-card-div {
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2 !important;
  width: 100%;
}

.detail-img {
  margin-right: 20px;
}

.detail-content {
  text-align: left !important;
}

.detail-progress-bar {
  border-radius: 10px;
  height: 8px !important;
}

.detail-difficulty {
  color: gray;
}

.detail-chapter-div {
  background-color: white;
}

.detail-chapter-paper {
  width: 80%;
  margin: auto;
}
