/* ProblemList */
.problemlist-title-div {
  display: flex;
  text-align: left;
  align-items: center;
  padding-bottom: 15px;
}

.problemlist-view-more {
  color: #009688 !important;
  padding-left: 30px;
  cursor: pointer;
}

.problemlist-no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.problemlist-label-none {
  text-align: center;
  align-items: center;
  color: #434343;
}

.MuiListItemIcon-root {
  color: #315c72 !important;
  margin-left: 32px;
  cursor: pointer;
}

.MuiListItemIcon-root:hover {
  opacity: 0.2;
}
