.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 24px 48px rgba(21, 21, 21, 0.06),
    0px 12px 24px rgba(21, 21, 21, 0.04), 0px 0px 16px rgba(21, 21, 21, 0.02);
  backdrop-filter: blur(12px);
}

.navbar-link {
  text-decoration: none;
  color: #151515;
}
.navbar-link:hover {
  background-color: #bcdcc4;
}
